<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Sophos Auto Network Authenticator</title>
</head>
<body>
    <h1>Welcome to Sophos Auto Network Authenticator</h1><br>
    <hr>
    <br><div>This page is just for self authentication set at some time interval / delay.</div>
    <script src="../static/js/index.js"></script>
</body>
</html>